.header{
    display: flex;
    justify-content: space-between;
    border:2px solid black;
    height:60px;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    background-color: white;
}


.nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}

.nav>ul>li{
    list-style-type: none;
    margin-right: 35px;
}

.second_div{
    margin-top: 62px;
    background-image: url(src/background1.jpg);
    height: 560px;
    background-size: cover;
    opacity: 0.8;
}

.info_text{
    text-align: center;
    padding: 200px;
    color:rgb(240, 178, 142);
}

.disease_info{
    /* margin:; */
    background-color: red;
}

.four_dis{
    display: flex;
    flex-direction: column;
}